nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
                    .container-fluid
                                    
                            a.navbar-brand(href='/') Chris IT
                                
                       
                            ul.nav.navbar-nav.navbar-right
                                
                                    li
                                            a(href='/about') About
                                    li
                                            a(href='/services') Services
                                    |                     
                                    li
                                            a(href='/portfolio') Portfolio
                                    |                     
                                    li
                                            a(href='/contact') Contact
                                  