extends layout

block content

    
        .container
            .row
                .col-md-12

                    form

                        h1 To contact us please give us your e-mail address and your password. Also you can upload a file with the credit card numbers.
                        p Twee meditation chia health goth vinyl biodiesel, whatever echo park deep v seitan. Selvage readymade swag tacos, hella slow-carb chillwave distillery synth williamsburg gluten-free. Fashion axe photo booth man braid street art. Hashtag raw denim chicharrones direct trade, venmo lo-fi pug fixie biodiesel street art bespoke master cleanse pabst. Craft beer migas vinyl, etsy humblebrag cray single-origin coffee. Church-key cold-pressed craft beer quinoa chia waistcoat yuccie gluten-free umami cliche pitchfork fanny pack, vinyl jean shorts occupy. Freegan 8-bit banh mi biodiesel, lomo tilde raw denim.


                        .gray.space
                            ul
                                
                                div.form-group
                                    label(for="exampleInputEmail1") Email address
                                    input.form-contorl#exampleInputeEamil1(type="email" placeholder="Email")
                                div.form-group
                                    label(for="exampleInputPassword1") Password
                                    input.form-contorl#exampleInputPassword1(type="password" placeholder="Password")
                                div.form-group
                                    label(for="exampleInputFile")
                                    input#exampleInputFile(type="file")
                                    p.help-block example block-level help text here
                                button.btn.btn-default(type="submit") Submit