extends layout

block content

        .jumbotron.fill
            h2 Fixing computer problems with care!
            p so that it will never have problems again!

        .containter
            .row
                .col-md-6
                    h3 Cash rewards!
                    p Twee meditation chia health goth vinyl biodiesel, whatever echo park deep v seitan. Selvage readymade swag tacos, hella slow-carb chillwave distillery synth williamsburg gluten-free. Fashion axe photo booth man braid street art. Hashtag raw denim chicharrones direct trade, venmo lo-fi pug fixie biodiesel street art bespoke master cleanse pabst. Craft beer migas vinyl, etsy humblebrag cray single-origin coffee. Church-key cold-pressed craft beer quinoa chia waistcoat yuccie gluten-free umami cliche pitchfork fanny pack, vinyl jean shorts occupy. Freegan 8-bit banh mi biodiesel, lomo tilde raw denim.

                    p Beard gluten-free banh mi, everyday carry leggings street art farm-to-table ethical post-ironic put a bird on it asymmetrical ennui ramps. Cardigan swag chambray put a bird on it. Hammock 90's godard lomo, hashtag seitan etsy schlitz chambray swag paleo affogato. Lo-fi actually cornhole photo booth wayfarers tattooed. Kale chips retro plaid swag. Vice chicharrones tacos banh mi, artisan roof party offal food truck poutine semiotics synth keytar hoodie dreamcatcher. Wayfarers irony single-origin coffee farm-to-table lo-fi, godard ramps put a bird on it cred iPhone bitters church-key ennui pickled fanny pack.
                .col-md-6
                    h3 Classical Music
                    p Twee meditation chia health goth vinyl biodiesel, whatever echo park deep v seitan. Selvage readymade swag tacos, hella slow-carb chillwave distillery synth williamsburg gluten-free. Fashion axe photo booth man braid street art. Hashtag raw denim chicharrones direct trade, venmo lo-fi pug fixie biodiesel street art bespoke master cleanse pabst. Craft beer migas vinyl, etsy humblebrag cray single-origin coffee. Church-key cold-pressed craft beer quinoa chia waistcoat yuccie gluten-free umami cliche pitchfork fanny pack, vinyl jean shorts occupy. Freegan 8-bit banh mi biodiesel, lomo tilde raw denim.

                    p Beard gluten-free banh mi, everyday carry leggings street art farm-to-table ethical post-ironic put a bird on it asymmetrical ennui ramps. Cardigan swag chambray put a bird on it. Hammock 90's godard lomo, hashtag seitan etsy schlitz chambray swag paleo affogato. Lo-fi actually cornhole photo booth wayfarers tattooed. Kale chips retro plaid swag. Vice chicharrones tacos banh mi, artisan roof party offal food truck poutine semiotics synth keytar hoodie dreamcatcher. Wayfarers irony single-origin coffee farm-to-table lo-fi, godard ramps put a bird on it cred iPhone bitters church-key ennui pickled fanny pack.

        .containter
            .row
                .col-md-4
                    h3 Go Karts!
                    p Twee meditation chia health goth vinyl biodiesel, whatever echo park deep v seitan. Selvage readymade swag tacos, hella slow-carb chillwave distillery synth williamsburg gluten-free. Fashion axe photo booth man braid street art. Hashtag raw denim chicharrones direct trade, venmo lo-fi pug fixie biodiesel street art bespoke master cleanse pabst. Craft beer migas vinyl, etsy humblebrag cray single-origin coffee. Church-key cold-pressed craft beer quinoa chia waistcoat yuccie gluten-free umami cliche pitchfork fanny pack, vinyl jean shorts occupy. Freegan 8-bit banh mi biodiesel, lomo tilde raw denim.

                    p Beard gluten-free banh mi, everyday carry leggings street art farm-to-table ethical post-ironic put a bird on it asymmetrical ennui ramps. Cardigan swag chambray put a bird on it. Hammock 90's godard lomo, hashtag seitan etsy schlitz chambray swag paleo affogato. Lo-fi actually cornhole photo booth wayfarers tattooed. Kale chips retro plaid swag. Vice chicharrones tacos banh mi, artisan roof party offal food truck poutine semiotics synth keytar hoodie dreamcatcher. Wayfarers irony single-origin coffee farm-to-table lo-fi, godard ramps put a bird on it cred iPhone bitters church-key ennui pickled fanny pack.
                .col-md-4
                    h3 Play Video Games!
                    img(src='static/images/videoGame.png')
                    p Twee meditation chia health goth vinyl biodiesel, whatever echo park deep v seitan. Selvage readymade swag tacos, hella slow-carb chillwave distillery synth williamsburg gluten-free. Fashion axe photo booth man braid street art. Hashtag raw denim chicharrones direct trade, venmo lo-fi pug fixie biodiesel street art bespoke master cleanse pabst. Craft beer migas vinyl, etsy humblebrag cray single-origin coffee. Church-key cold-pressed craft beer quinoa chia waistcoat yuccie gluten-free umami cliche pitchfork fanny pack, vinyl jean shorts occupy. Freegan 8-bit banh mi biodiesel, lomo tilde raw denim.

                    p Beard gluten-free banh mi, everyday carry leggings street art farm-to-table ethical post-ironic put a bird on it asymmetrical ennui ramps. Cardigan swag chambray put a bird on it. Hammock 90's godard lomo, hashtag seitan etsy schlitz chambray swag paleo affogato. Lo-fi actually cornhole photo booth wayfarers tattooed. Kale chips retro plaid swag. Vice chicharrones tacos banh mi, artisan roof party offal food truck poutine semiotics synth keytar hoodie dreamcatcher. Wayfarers irony single-origin coffee farm-to-table lo-fi, godard ramps put a bird on it cred iPhone bitters church-key ennui pickled fanny pack.
                .col-md-4
                    h3 Mind Craft
                    p Twee meditation chia health goth vinyl biodiesel, whatever echo park deep v seitan. Selvage readymade swag tacos, hella slow-carb chillwave distillery synth williamsburg gluten-free. Fashion axe photo booth man braid street art. Hashtag raw denim chicharrones direct trade, venmo lo-fi pug fixie biodiesel street art bespoke master cleanse pabst. Craft beer migas vinyl, etsy humblebrag cray single-origin coffee. Church-key cold-pressed craft beer quinoa chia waistcoat yuccie gluten-free umami cliche pitchfork fanny pack, vinyl jean shorts occupy. Freegan 8-bit banh mi biodiesel, lomo tilde raw denim.

                    p Beard gluten-free banh mi, everyday carry leggings street art farm-to-table ethical post-ironic put a bird on it asymmetrical ennui ramps. Cardigan swag chambray put a bird on it. Hammock 90's godard lomo, hashtag seitan etsy schlitz chambray swag paleo affogato. Lo-fi actually cornhole photo booth wayfarers tattooed. Kale chips retro plaid swag. Vice chicharrones tacos banh mi, artisan roof party offal food truck poutine semiotics synth keytar hoodie dreamcatcher. Wayfarers irony single-origin coffee farm-to-table lo-fi, godard ramps put a bird on it cred iPhone bitters church-key ennui pickled fanny pack.
        //- //- footer 
        //- //-     .main-footer
        //- //-             span by Brian Pedigo March 17 2016

        //- .navbar.navbar-default.navbar-fixed-bottom
        //-     .container.main-footer
        //-         span new footer
    