extends layout

block content
    div.btn-group
        button.btn.btn-default.dropdown-toggle(type="button",
         data-toggle="dropdown",
         aria-haspopup="true",
         aria-expanded="false")
         span action

        ul.dropdown-menu
            li 
                a(href="#") testing
            
            li 
                a(href="#") testing
            
            li 
                a(href="#") your mom
            