extends layout

block content

	h3 At Chris IT we can play all the games shown below like a boss!
	
	.containter
		.row.space
			.col-xs-6.col-md-3
				a.thumbnail(href="#")
					img(src="./static/images/jr.png" alt=">>")
			.col-xs-6.col-md-3
				a.thumbnail(href="#")
					img(src="./static/images/Bowser_Jr.jpg" alt=">>")
			.col-xs-6.col-md-3
				a.thumbnail(href="#")
					img(src="./static/images/toad.png" alt=">>")
			.col-xs-6.col-md-3
				a.thumbnail(href="#")
					img(src="./static/images/ender.jpg" alt=">>")